<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>producerId</key>
	<integer>0</integer>
	<key>producerName</key>
	<string></string>
	<key>businessNameEn</key>
	<string></string>
	<key>businessNameAr</key>
	<string></string>
	<key>businessAddress</key>
	<string></string>
	<key>businessLat</key>
	<integer>0</integer>
	<key>businessLong</key>
	<integer>0</integer>
</dict>
</plist>
